<main>
      <div class="container" id="container">
            <div class="form-container sign-up-container">
                  <form [formGroup]="signUpFormControl">
                        <h1>Inscription</h1> <br>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="lastname" type="text" placeholder="Nom" matInput />
                              <mat-error *ngIf="signUpFormControl.get('lastname')?.hasError('required')">
                                    Le nom est <strong>obligatoire</strong>
                              </mat-error>
                              <mat-error *ngIf="signUpFormControl.get('lastname')?.hasError('minlength')">
                                    Le nom doit avoir <strong>au moins 3 lettres</strong>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="firstname" type="text" placeholder="Prénom"
                                    matInput />
                              <mat-error *ngIf="signUpFormControl.get('firstname')?.hasError('required')">
                                    Le prénom est <strong>obligatoire</strong>
                              </mat-error>
                              <mat-error *ngIf="signUpFormControl.get('firstname')?.hasError('minlength')">
                                    Le prénom doit avoir <strong>au moins 3 lettres</strong>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="email" type="email" placeholder="Email" matInput />
                              <mat-error *ngIf="signUpFormControl.get('email')?.hasError('email')">
                                    Veuillez fournir une <strong>adresse mail correcte</strong>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="password" type="password" placeholder="Mot de passe"
                                    autocomplete="on" matInput />
                              <mat-error *ngIf="signUpFormControl.get('password')?.hasError('required')">
                                    Le mot de passe est <strong>obligatoire</strong>
                              </mat-error>
                              <mat-error *ngIf="signUpFormControl.get('password')?.hasError('minlength')">
                                    Le mot de passe doit avoir <strong>au moins 6 lettres</strong>
                              </mat-error>
                        </mat-form-field>
                        <button>S'incrire</button>
                  </form>
            </div>


            <div class="form-container sign-in-container">
                  <form [formGroup]="signInFormControl" (submit)="onSignIn()">
                        <h1>Connexion</h1> <br>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="email" type="email" placeholder="Email" matInput />
                              <mat-error *ngIf="signInFormControl.get('email')?.hasError('email')">
                                    Veuillez fournir une <strong>adresse mail correcte</strong>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                              <input class="input" formControlName="password" type="password" placeholder="Mot de passe"
                                    autocomplete="on" matInput />
                              <mat-error *ngIf="signInFormControl.get('password')?.hasError('required')">
                                    Le mot de passe est <strong>obligatoire</strong>
                              </mat-error>
                              <mat-error *ngIf="signInFormControl.get('password')?.hasError('minlength')">
                                    Le mot de passe doit avoir <strong>au moins 6 lettres</strong>
                              </mat-error>
                        </mat-form-field>
                        <a href="#">Mot de passe oublié?</a>
                        <button type="submit">S'identifier</button>
                  </form>
            </div>




            <div class="overlay-container">
                  <div class="overlay">
                        <div class="overlay-panel overlay-left">
                              <h1>Bonjour</h1>
                              <p>Avez-vous déjà un compte?</p>
                              <button class="ghost" id="signIn" (click)="callSignIn()">S'identifier</button>
                        </div>

                        <div class="overlay-panel overlay-right">
                              <h1>Bienvenue</h1>
                              <p>Voulez-vous créer un compte chez MNS Games?</p>
                              <button class="ghost" id="signUp" (click)="callSignUp()">S'inscrire</button>
                        </div>
                  </div>
            </div>
      </div>

      <img src="assets/images/icons/minimal_globe.svg" class="globeBG">
</main>