<main>
      <img class="logomns" src="assets/images/icons/logo_mnsGames.svg" alt="logo MNS">
      <h1>{{scenario.name}}</h1>
      <div id="container">
            <div id="questionContent">
                  <p id="Q">{{question.content}}</p>
            </div>
            <div id="answersContent">
                  <div class="A" *ngFor="let answer of answers">
                        <button class="buttonAnswer" type="button" (click)="selectAnswer(answer.id)">
                              <span>{{answer.content}}</span>
                        </button><br>
                  </div>
            </div>
            <div id="validation">
                  <button (click)="validate()">Question suivante</button>
            </div>
      </div>

</main>