<main>
      <div id="container">
            <div id="box">
                  <h1>{{scenario.name}}</h1>
                  <p>{{scenario.description}}</p>
            </div>
            <br>
            <div id="menu">
                  <button (click)="playGame()">
                        <span class="jouer">JOUER</span>
                  </button><br>

                  <button (click)="return()">
                        <span class="retour">RETOUR</span>
                  </button><br>
            </div>
      </div>
</main>