<header>
      <nav *ngIf="email!= ''" class="container">
            <input id="nav-toggle" type="checkbox" />
            <img class="logomns" src="assets/images/icons/logo_mnsGames.svg" alt="logo MNS">
            <ul class="links">
                  <li class="list">
                        <a [routerLink]="['creator/scenario-management']" [routerLinkActive]="['active']">Scenarios</a>
                        <div class="selectTab home_underline"></div>
                  </li>
                  <li class="list">
                        <a [routerLink]="['admin/questions-management']" [routerLinkActive]="['active']">Questions</a>
                        <div class="selectTab home_underline"></div>
                  </li>
                  <li class="list">
                        <a [routerLink]="['creator/theme-management']" [routerLinkActive]="['active']">Themes</a>
                        <div class="selectTab home_underline"></div>
                  </li>
                  <li class="list">
                        <a [routerLink]="['creator/media-management']" [routerLinkActive]="['active']">Media</a>
                        <div class="selectTab home_underline"></div>
                  </li>

                  <button [routerLink]="['admin/users-management']" [routerLinkActive]="['active']">Espace
                        admin</button>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
            </label>
      </nav>
</header>

<router-outlet></router-outlet>

<footer>
      <p>
            Created by
            <a target="_blank" href="https://www.linkedin.com/in/sara-el-boukhliki-b443b2221/">Sara EL
                  BOUKHLIKI</a>
            and
            <a target="_blank" href="https://www.linkedin.com/in/vyphano/"> Vy PHAN </a>
      </p>
</footer>