<main>
      <div class="container">
            <div class="table-responsive">
                  <div class="table-wrapper">
                        <div class="table-title">
                              <div class="row">
                                    <div class="col-xs-4">
                                          <div class="show-entries">
                                                <span>Afficher</span>
                                                <select>
                                                      <option>5</option>
                                                      <option>10</option>
                                                      <option>15</option>
                                                      <option>20</option>
                                                </select>
                                                <span>lignes</span>
                                          </div>
                                    </div>
                                    <div class="col-xs-4">
                                          <h2 class="text-center">Liste de <b>Questions</b></h2>
                                    </div>
                                    <div class="col-xs-4">
                                          <div class="search-box">
                                                <div class="input-group">
                                                      <span class="input-group-addon"><i
                                                                  class="material-icons">&#xE8B6;</i></span>
                                                      <input type="text" class="form-control"
                                                            placeholder="Search&hellip;">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <br>
                        <table class="table table-bordered">
                              <thead>
                                    <tr>
                                          <th><input type="checkbox" ng-model="checkAll"></th>
                                          <th>ID</th>
                                          <th>Description</th>
                                          <th>Points</th>
                                          <th>ID Scénariste</th>
                                          <th>ID Thème</th>
                                          <!-- <th>ID Bonne Réponse</th> -->
                                          <th></th>
                                          <th></th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let q of questionsList">
                                          <td><input type="checkbox" ng-model="data.check" ng-checked="checkAll"></td>
                                          <td>{{q.id}}</td>
                                          <td>{{q.content}}</td>
                                          <td>{{q.points}}</td>
                                          <td>{{q.creator}}</td>
                                          <td>{{q.theme}}</td>
                                          <td>{{q.answerNbOne}}</td>
                                          <td>
                                                <a href="#" class="view" title="View" data-toggle="tooltip"><i
                                                            class="material-icons">&#xE417;</i></a>
                                                <a (click)="onEditQ(q.id)" class="edit" title="Edit"
                                                      data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <!-- <a (click)="onDelQ(q.id)" class="delete" title="Delete" data-toggle="tooltip"><i
                                                            class="material-icons">&#xE872;</i></a> -->
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                        <div class="clearfix">
                              <div class="hint-text">Affiche <b>5</b> sur <b>...</b> lignes</div>
                              <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Previous</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                              </ul>
                        </div> <br>



                        <a (click)="newQuestion()" class="add" title="Add" data-toggle="tooltip"><i
                                    class="material-icons">&#xe146;</i>Ajouter une question</a>


                        <div id="box" [style.visibility]="containerVisible">
                              <div id="createQuestion">

                                    <div id="newQuestion">
                                          <div id="title">
                                                <h2>Nouvelle question</h2>
                                          </div>

                                          <div id="contentAndTheme">
                                                <form [formGroup]="questionFormControl">
                                                      <mat-form-field appearance="fill">
                                                            <p><textarea formControlName="content" matInput
                                                                        placeholder="Quelle est la 4ème couche modèle OSI"></textarea>
                                                            </p>
                                                            <mat-error
                                                                  *ngIf="questionFormControl.get('content')?.hasError('required')">
                                                                  <strong>Entrer</strong> l'intitulé de la question.
                                                            </mat-error>
                                                      </mat-form-field>

                                                      <p>
                                                            <mat-form-field appearance="fill">
                                                                  <mat-label>Choisir un thème:</mat-label>
                                                                  <mat-select formControlName="theme">
                                                                        <mat-option *ngFor="let theme of themesList"
                                                                              [value]="theme">{{theme.name}}
                                                                        </mat-option>
                                                                  </mat-select>
                                                            </mat-form-field>
                                                      </p>
                                                </form>
                                          </div>
                                    </div>

                                    <div id="answers">
                                          <div id="answersContent">
                                                <div class="newAnswer">
                                                      <h2>Réponse n°1</h2>
                                                      <form [formGroup]="firstAnswerFormControl">
                                                            <mat-form-field appearance="fill">
                                                                  <p><input formControlName="content" matInput
                                                                              placeholder="Transport">
                                                                        <mat-error
                                                                              *ngIf="firstAnswerFormControl.get('content')?.hasError('required')">
                                                                              <strong>Entrer</strong> l'intitulé de la
                                                                              réponse.
                                                                        </mat-error>
                                                                  </p>
                                                            </mat-form-field>
                                                      </form>
                                                </div>

                                                <div class="newAnswer">
                                                      <h2>Réponse n°2</h2>
                                                      <form [formGroup]="secondAnswerFormControl">
                                                            <mat-form-field appearance="fill">
                                                                  <p>
                                                                        <input formControlName="content" matInput
                                                                              placeholder="Réseau">
                                                                        <mat-error
                                                                              *ngIf="secondAnswerFormControl.get('content')?.hasError('required')">
                                                                              <strong>Entrer</strong> l'intitulé de la
                                                                              réponse.
                                                                        </mat-error>
                                                                  </p>
                                                            </mat-form-field><br>
                                                      </form>
                                                </div>
                                          </div>

                                          <div id="correct">
                                                <fieldset>
                                                      <legend class="titleCheck">
                                                            <h2>Vraie</h2>
                                                      </legend>
                                                      <div class="checkTrue">
                                                            <form [formGroup]="firstAnswerFormControl">

                                                                  <mat-checkbox formControlName="isCorrect"
                                                                        class="example-margin"></mat-checkbox>

                                                            </form>
                                                      </div>
                                                      <div class="checkTrue">
                                                            <form [formGroup]="secondAnswerFormControl">
                                                                  <mat-checkbox formControlName="isCorrect"
                                                                        class="example-margin"></mat-checkbox>
                                                            </form>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>

                                    <div id="points">
                                          <div class="trueFalse">
                                                <h2>Si vrai</h2>
                                                <form [formGroup]="questionFormControl">
                                                      <mat-form-field appearance="fill">
                                                            <p><input formControlName="points" type="text"
                                                                        placeholder="5" matInput /></p>
                                                      </mat-form-field>
                                                </form>
                                          </div>
                                          <div class="trueFalse">
                                                <h2>Si faux</h2>
                                                <mat-form-field appearance="fill">
                                                      <p><input formControlName="points" type="text" placeholder="0"
                                                                  matInput /></p>
                                                </mat-form-field>
                                          </div>
                                    </div>
                                    <div id="validationQuestion">
                                          <button id="button" (click)="createQuestion()">
                                                <mat-icon>check_circle</mat-icon>Valider
                                          </button>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <button id="button" (click)="exitNewQuestion()">
                                                <mat-icon>exit_to_app</mat-icon>Fermer
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</main>