@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

main {
      background: #151B36;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      height: 100%;
      margin-top: -1%;
}

.logomns {
      width: 500px;
      margin-top: 15px;
      margin-bottom: 40px;
      z-index: 2;
}

h1 {
      font-size: 2rem;
      font-family: 'Montserrat';
      font-weight: normal;
      color: white;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
}

h2 {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      color: rgb(4, 103, 118);
      text-align: center;
      margin-bottom: 18px;
}

h3 {
      font-size: 2rem;
      font-family: 'Poppins';
      font-weight: normal;
      color: rgb(210, 198, 62);
      text-align: center;
      margin-bottom: 18px;
}

.button {
      border-radius: 10px;
      border: 1px solid #E4522A;
      background-color: #FFFFFF;
      color: #E4522A;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      padding: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      margin-top: 10px;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      width: 300px;
      height: 70px;
}

.button:active {
      transform: scale(0.95);
}

.button:focus {
      outline: none;
      border: 1px solid #FFFFFF;
      background-color: #E4522A;
      color: #FFFFFF;
}

button {
      border-radius: 0px;
      border: 1px solid #ffef16;
      background-color: #2aa9e4;
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      padding: 10px 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      margin-top: 10px;
      position: absolute;
      z-index: 3;
      cursor: pointer;
}